<p-toast></p-toast>
<p-toast position="top-right" key="tr"></p-toast>
@if (disableInteraction) {
<app-centered-progress-spinner />
} @else {
<div class="container content">
  <p-card header="New list">
    <form
      [formGroup]="userGroceryListForm"
      (ngSubmit)="createUserGroceryList()"
    >
      <p-floatLabel>
        <input
          id="name"
          type="text"
          pInputText
          class="p-inputtext-sm w-full"
          formControlName="name"
        />
        <label for="name">Name</label>
      </p-floatLabel>
      <br />
      <br />
      <p-floatLabel>
        <input
          id="description"
          type="text"
          pInputText
          class="p-inputtext-sm w-full"
          formControlName="description"
        />
        <label for="description">Description</label>
      </p-floatLabel>
      <br />
      <p-button
        label="Create"
        icon="pi pi-plus"
        iconPos="right"
        type="submit"
        [disabled]="disableUserGroceryListFormSubmission"
      ></p-button>
    </form>
  </p-card>
</div>
}
