.price-div {
    box-shadow: none;
  }
  
  @media (max-width: 576px) {
    .price-div {
      top: 3.12em;
    }
  }
  
  @media (min-width: 768px) {
    .price-div {
      top: 6.25em;
    }
  }
  
  @media (min-width: 992px) {
    .price-div {
      top: 6.25em;
    }
  }
  