<div class="row navbar price-div sticky-top py-3">
    <div class="col">
      <label class="form-label">Total</label>
    </div>
    <div class="col text-end">
      @if (groceryListForm) {
      <label class="form-label">{{
        groceryListForm.controls["totalPrice"].value
      }}</label>
      }
    </div>
  </div>
  
  @if (id) {
    <div class="row">
      <div class="col"></div>
      <div class="btn-group col text-end" role="group">
        <button type="button" class="btn btn-primary" (click)="exportUserGroceryListSummary()">Export</button>
        <button type="button" class="btn btn-danger" (click)="deleteUserGroceryList()">Delete</button>
      </div>
    </div>
  }
  
  <br />
  <br />
  
  @if (groceryListFormStatus === 'NotSubmitted' || groceryListFormStatus ===
  'SubmissionError') { @if (groceryListFormStatus === 'SubmissionError') {
  <div class="alert alert-danger" role="alert">
    <span class="alert-icon"><span class="visually-hidden">Error</span></span>
    <p>{{ groceryListFormMessage }}></p>
  </div>
  
  } @if (groceryListForm) {
  <form
    [formGroup]="groceryListForm"
    (ngSubmit)="updateUserGroceryList()"
  >
    <div class="mb-3">
      <label class="form-label">Name</label>
      <input type="text" class="form-control" formControlName="name" required />
    </div>
  
    <div class="mb-3">
      <label class="form-label">Description</label>
      <div
        class="form-control"
        formControlName="description"
        required
        appContentEditable
        contenteditable="true"
        aria-multiline="true"
      ></div>
    </div>
  
    <h3>Items</h3>
  
    <div formArrayName="items">
      @for (item of getItemsArrayControls(); track item; let index = $index) {
      <div class="card">
        <div class="card-body">
          <div formGroupName="{{ index }}">
            <div class="text-end pt-1">
              <button
                type="button"
                class="btn btn-danger"
                (click)="deleteItem(index)"
              >
                Delete item
              </button>
            </div>
  
            <br />
  
            <div class="mb-3">
              <label class="form-label">Name</label>
              <input
                type="text"
                class="form-control"
                formControlName="name"
                required
              />
            </div>
  
            <div class="mb-3">
              <label class="form-label">Description</label>
              <div
                type="text"
                class="form-control"
                formControlName="description"
                required
                appContentEditable
                contenteditable="true"
                aria-multiline="true"
              ></div>
            </div>
  
            <div class="mb-3">
              <label class="form-label">Rate Measurement quantity</label>
              <input
                type="number"
                class="form-control"
                formControlName="rateMeasurementQuantity"
                (keyup)="updateItemPrice(index)"
                required
              />
            </div>
  
            <div class="mb-3">
              <label class="form-label">Rate Measurement unit</label>
              <select
                class="form-select"
                formControlName="rateMeasurementUnit"
                (change)="updateItemPrice(index)"
                required
              >
                @for (measurementUnit of measurementUnits; track $index) {
                <option [value]="measurementUnit.id">
                  {{ measurementUnit.value }}
                </option>
                }
              </select>
            </div>
  
            <div class="mb-3">
              <label class="form-label">Rate</label>
              <input
                type="number"
                class="form-control"
                formControlName="rate"
                (keyup)="updateItemPrice(index)"
                required
              />
            </div>
  
            <div class="mb-3">
              <label class="form-label">Quantity Measurement unit </label>
              <select
                class="form-select"
                formControlName="quantityMeasurementUnit"
                (change)="updateItemPrice(index)"
                required
              >
                @for (measurementUnit of measurementUnits; track $index) {
                <option [value]="measurementUnit.id">
                  {{ measurementUnit.value }}
                </option>
                }
              </select>
            </div>
  
            <div class="mb-3">
              <label class="form-label">Quantity</label>
              <input
                type="number"
                class="form-control"
                formControlName="quantity"
                (keyup)="updateItemPrice(index)"
                required
              />
            </div>
  
            <div class="row">
              <div class="col">
                <label class="form-label">Total</label>
              </div>
              <div class="col text-end">
                <label class="form-label">{{ item.get("price")?.value }}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <br />
      }
    </div>
  
    <div class="text-center">
      <button
        type="button"
        class="btn btn-success"
        (click)="addUserGroceryListItem()"
      >
        Add item
      </button>
    </div>
  
    <br />
  
    <div class="mb-3">
      <label class="form-label">Generate with AI</label>
      <div
        contenteditable="true"
        aria-multiline="true"
        class="form-control"
      ></div>
    </div>
  
    <div class="text-center">
      <button
        type="button"
        class="btn btn-success"
        (click)="addUserGroceryListItem()"
      >
        Generate
      </button>
    </div>
  
    <br />
  
    <div class="text-end">
      <button type="submit" class="btn btn-primary">
        {{ id ? "Update" : "Create" }}
      </button>
    </div>
  </form>
  } } @else if (groceryListFormStatus === 'InProgress') {
  <div class="row align-items-center text-center" style="min-height: 70vh">
    <div class="col-12">
      <div class="spinner-border spinner-border-lg text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
  }
  