<p-toast></p-toast>
<p-toast position="top-right" key="tr"></p-toast>
<p-confirmDialog></p-confirmDialog>

@if (disableInteraction) {
<app-centered-progress-spinner-lg />
} @else {
<p-menubar
  class="sticky-top"
  [style]="{
    top: '60px',
    'background-color': 'rgba(255, 255, 255, 0.9)',
    'backdrop-filter': 'blur(5px)',
    border: 'none',
    'box-shadow': 'none'
  }"
>
  <ng-template pTemplate="start">
    <h2>Total price</h2>
  </ng-template>
  <ng-template pTemplate="end">
    @if (!userGroceryListBasicFormInitialized) {
    <app-progress-spinner-sm />
    } @else if (userGroceryListForm) {
    <h2>{{ userGroceryListForm.controls["totalPrice"].value }}</h2>
    }
  </ng-template>
</p-menubar>

<div class="container content">
  <div class="grid">
    <div class="col">
      <div class="text-right">
        @if (!userGroceryListBasicFormInitialized) {
        <ngx-skeleton-loader [theme]="{ 'width.%': 10 }"></ngx-skeleton-loader>
        } @else if (userGroceryListForm) {
        <div class="text-right">
          <p-toggleButton
            [(ngModel)]="edit"
            (ngModelChange)="onEditChange($event)"
            onLabel="View"
            offLabel="Edit"
          ></p-toggleButton>
        </div>
        }
      </div>
    </div>
  </div>

  <br />

  <p-card>
    @if (!userGroceryListBasicFormInitialized) {
    <br />
    <ngx-skeleton-loader
      [theme]="{ 'height.x': 100, 'width.%': 50 }"
    ></ngx-skeleton-loader>
    } @else if (userGroceryListForm) {
    <h2>{{ userGroceryListForm.controls["name"].value }}</h2>
    }
    <div class="grid">
      <div class="col">
        <div class="text-right">
          @if (!userGroceryListBasicFormInitialized) {
          <ngx-skeleton-loader
            class="mr-1"
            [theme]="{ 'width.%': 8 }"
          ></ngx-skeleton-loader>
          <ngx-skeleton-loader [theme]="{ 'width.%': 8 }"></ngx-skeleton-loader>
          } @else if (userGroceryListForm) {
          <p-button
            icon="pi pi-user-plus"
            severity="info"
            class="mr-1"
            [disabled]="!edit"
          ></p-button>
          <p-button
            icon="pi pi-file-export"
            severity="secondary"
            class="mr-1"
            [disabled]="!edit"
          ></p-button>
          <p-button
            icon="pi pi-times"
            severity="danger"
            [disabled]="!edit"
          ></p-button>
          }
        </div>
      </div>
    </div>

    <br />

    @if (!userGroceryListBasicFormInitialized) {
    <ngx-skeleton-loader></ngx-skeleton-loader>
    <ngx-skeleton-loader></ngx-skeleton-loader>
    <div class="grid">
      <div class="col">
        <div class="text-right">
          <ngx-skeleton-loader
            [theme]="{ 'width.%': 15 }"
          ></ngx-skeleton-loader>
        </div>
      </div>
    </div>
    } @else if (userGroceryListForm) {
    <form [formGroup]="userGroceryListForm">
      <p-floatLabel>
        <input
          id="name"
          type="text"
          pInputText
          class="p-inputtext-sm w-full"
          formControlName="name"
          [readOnly]="!edit"
        />
        <label for="name">Name</label>
      </p-floatLabel>
      <br />
      <br />
      <p-floatLabel>
        <input
          id="description"
          type="text"
          pInputText
          class="p-inputtext-sm w-full"
          formControlName="description"
          [readOnly]="!edit"
        />
        <label for="description">Description</label>
      </p-floatLabel>
      <br />
      <div class="grid">
        <div class="col">
          <div class="text-right">
            <p-button
              label="Update"
              icon="pi pi-refresh"
              iconPos="right"
              type="button"
              [disabled]="disableUserGroceryListBasicFormUpdation"
              (onClick)="updateUserGroceryListBasicDetails()"
            ></p-button>
          </div>
        </div>
      </div>
    </form>
    }
  </p-card>
</div>
}

<!-- <div class="container content">
  @if (!userGroceryListBasicFormInitialized) {
  <p-card>
    <p-skeleton height="2rem" width="15rem" styleClass="mb-2"></p-skeleton>
    <div class="grid">
      <div class="col">
        <div class="text-right">
          <p-skeleton height="3rem" width="3rem" styleClass="mb-2"></p-skeleton>
        </div>
      </div>
    </div>
    <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
    <p-skeleton width="10rem" height="4rem"></p-skeleton>
  </p-card>
  } @else if (userGroceryListForm) {
  <p-card>
    <div class="grid">
      <div class="col">
        <div class="text-right">
          <p-button
            icon="pi pi-user-plus"
            severity="info"
            class="mr-1"
          ></p-button>
          <p-button
            icon="pi pi-file-export"
            severity="secondary"
            class="mr-1"
          ></p-button>
          <p-button icon="pi pi-times" severity="danger"></p-button>
        </div>
      </div>
    </div>

    <br />

    <form [formGroup]="userGroceryListForm">
      <p-floatLabel>
        <input
          id="name"
          type="text"
          pInputText
          class="p-inputtext-sm w-full"
          formControlName="name"
        />
        <label for="name">Name</label>
      </p-floatLabel>
      <br />
      <br />
      <p-floatLabel>
        <input
          id="description"
          type="text"
          pInputText
          class="p-inputtext-sm w-full"
          formControlName="description"
        />
        <label for="description">Description</label>
      </p-floatLabel>
      <br />
      <div class="grid">
        <div class="col">
          <div class="text-right">
            <p-button
              label="Update"
              icon="pi pi-refresh"
              iconPos="right"
              type="button"
            ></p-button>
          </div>
        </div>
      </div>
    </form>
  </p-card>
  }
</div>
} -->
<!-- @if (disableInteraction) {
<app-centered-progress-spinner />
} @else {
<p-menubar
  class="sticky-top"
  [style]="{
    top: '60px',
    'background-color': 'rgba(255, 255, 255, 0.9)',
    'backdrop-filter': 'blur(5px)',
    border: 'none',
    'box-shadow': 'none'
  }"
>
  <ng-template pTemplate="start">
    <h2>Total price</h2>
  </ng-template>
  @if (userGroceryListForm) {
  <ng-template pTemplate="end">
    <h2>{{ userGroceryListForm.controls["totalPrice"].value }}</h2>
  </ng-template>
  }
</p-menubar>

<div class="container content">
  @if (userGroceryListForm) {
  <p-card header="{{ userGroceryListForm.controls['name'].value }}">
    <div class="grid">
      <div class="col">
        <div class="text-right">
          <p-button
            icon="pi pi-user-plus"
            severity="info"
            class="mr-1"
          ></p-button>
          <p-button
            icon="pi pi-file-export"
            severity="secondary"
            class="mr-1"
            (onClick)="exportUserGroceryListSummary()"
          ></p-button>
          <p-button
            icon="pi pi-times"
            severity="danger"
            (click)="deleteUserGroceryList()"
          ></p-button>
        </div>
      </div>
    </div>

    <br />

    <form [formGroup]="userGroceryListForm">
      <p-floatLabel>
        <input
          id="name"
          type="text"
          pInputText
          class="p-inputtext-sm w-full"
          formControlName="name"
        />
        <label for="name">Name</label>
      </p-floatLabel>
      <br />
      <br />
      <p-floatLabel>
        <input
          id="description"
          type="text"
          pInputText
          class="p-inputtext-sm w-full"
          formControlName="description"
        />
        <label for="description">Description</label>
      </p-floatLabel>
      <br />
      <div class="grid">
        <div class="col">
          <div class="text-right">
            <p-button
              label="Update"
              icon="pi pi-refresh"
              iconPos="right"
              type="button"
              [disabled]="disableUserGroceryListBasicFormUpdation"
              (onClick)="updateUserGroceryListBasicDetails()"
            ></p-button>
          </div>
        </div>
      </div>

      <h4>Items</h4>

      <div formArrayName="items">
        <p-accordion [activeIndex]="0">
          @for (control of getItemsArrayControls(); track control; let index =
          $index) {
          <div formGroupName="{{ index }}">
            <p-accordionTab header="{{ control.get('name')?.value }}">
              <div class="grid">
                <div class="col">
                  <div class="text-right">
                    <p-button
                      icon="pi pi-times"
                      severity="danger"
                      (click)="deleteUserGroceryListItem(index)"
                    ></p-button>
                  </div>
                </div>
              </div>

              <p>
                <p-floatLabel>
                  <input
                    id="name"
                    type="text"
                    pInputText
                    class="p-inputtext-sm w-full"
                    formControlName="name"
                  />
                  <label for="name">Name</label>
                </p-floatLabel>
                <br />
                <br />
                <p-floatLabel>
                  <input
                    id="description"
                    type="text"
                    pInputText
                    class="p-inputtext-sm w-full"
                    formControlName="description"
                  />
                  <label for="description">Description</label>
                </p-floatLabel>
                <br />
                <br />
                <p-floatLabel>
                  <p-inputNumber
                    inputId="rate_measurement_quantity"
                    mode="decimal"
                    minFractionDigits="1"
                    maxFractionDigits="2"
                    class="p-inputtext-sm w-full"
                    styleClass="w-full"
                    formControlName="rateMeasurementQuantity"
                  />
                  <label for="rate_measurement_quantity"
                    >Rate Measurement Quantity</label
                  >
                </p-floatLabel>
                <br />
                <br />
                <p-floatLabel>
                  <p-dropdown
                    id="rate_measurement_unit"
                    formControlName="rateMeasurementUnit"
                    [options]="measurementUnits"
                    [editable]="true"
                    optionLabel="value"
                    placeholder="Rate Measurement Unit"
                  ></p-dropdown>
                  <label for="rate_measurement_unit"
                    >Rate Measurement Unit</label
                  >
                </p-floatLabel>
                <br />
                <br />
                <p-floatLabel>
                  <p-inputNumber
                    inputId="rate"
                    mode="decimal"
                    minFractionDigits="1"
                    maxFractionDigits="2"
                    class="p-inputtext-sm w-full"
                    styleClass="w-full"
                    formControlName="rate"
                  />
                  <label for="rate">Rate</label>
                </p-floatLabel>
                <br />
                <br />
                <p-floatLabel>
                  <p-dropdown
                    id="quantity_measurement_unit"
                    formControlName="quantityMeasurementUnit"
                    [options]="measurementUnits"
                    [editable]="true"
                    optionLabel="value"
                    placeholder="Quantity Measurement Unit"
                  ></p-dropdown>
                  <label for="quantity_measurement_unit"
                    >Quantity Measurement Unit</label
                  >
                </p-floatLabel>
                <br />
                <br />
                <p-floatLabel>
                  <p-inputNumber
                    inputId="quantity"
                    mode="decimal"
                    minFractionDigits="1"
                    maxFractionDigits="2"
                    class="p-inputtext-sm w-full"
                    styleClass="w-full"
                    formControlName="quantity"
                  />
                  <label for="quantity">Quantity</label>
                </p-floatLabel>
              </p>
              <div class="grid">
                <div class="col">
                  <h4>Total price</h4>
                </div>
                <div class="col">
                  <div class="text-right">
                    <h4>{{ control.get("price")?.value }}</h4>
                  </div>
                </div>
              </div>
              <div class="grid">
                <div class="col">
                  <div class="text-right">
                    <p-button
                      label="Update"
                      icon="pi pi-refresh"
                      iconPos="right"
                      type="button"
                      [disabled]="disableUserGroceryListBasicFormUpdation"
                      (onClick)="updateUserGroceryListBasicDetails()"
                    ></p-button>
                  </div>
                </div>
              </div>
            </p-accordionTab>
          </div>
          }
        </p-accordion>
      </div>
      <br />
      <div class="grid">
        <div class="col">
          <div class="text-right">
            <p-button
              label="Add"
              icon="pi pi-plus"
              iconPos="right"
              type="button"
              (onClick)="addUserGroceryListItem()"
            ></p-button>
          </div>
        </div>
      </div>
    </form>
  </p-card>
  }
</div>
} -->
