<form [formGroup]="groceryListForm">
  <div class="mb-3">
    <label class="form-label">Name</label>
    <input type="text" class="form-control" formControlName="name" />
  </div>

  <h3>Items</h3>

  <div formArrayName="items">
    @for (item of getItemsArrayControls(); track item; let index = $index) {
    <div formGroupName="{{ index }}">
      <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" formControlName="name" />
      </div>

      <div class="text-end">
        <button
          type="button"
          class="btn btn-danger"
          (click)="deleteItem(index)"
        >
          Delete item
        </button>
      </div>

      <br />
    </div>
    }
  </div>

  <div class="text-end">
    <button type="button" class="btn btn-success" (click)="addItem()">
      Add item
    </button>
  </div>

  <button type="submit" class="btn btn-primary mt-2">Create</button>
</form>
