<p-toast></p-toast>
<p-toast position="top-right" key="tr"></p-toast>
@if (disableInteraction) {
<app-centered-progress-spinner-lg />
} @else {
<div class="centered-container">
  <p-card header="Login">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <p-floatLabel>
        <input
          id="username"
          type="text"
          pInputText
          class="p-inputtext-sm"
          formControlName="userName"
        />
        <label for="username">Username</label>
      </p-floatLabel>
      <br />
      <br />
      <p-floatLabel>
        <p-password
          id="password"
          class="p-inputtext-sm"
          formControlName="password"
          [feedback]="false"
          [toggleMask]="true"
        >
        </p-password>
        <label for="password">Password</label>
      </p-floatLabel>
      <br />
      <p-button
        label="Submit"
        type="submit"
        [disabled]="disableLoginFormSubmission"
      ></p-button>
    </form>
  </p-card>
</div>
}
