<div class="row align-items-center text-center" style="min-height: 85vh">
  <div class="col-12">
    @if (loginFormStatus === 'NotSubmitted' || loginFormStatus ===
    'SubmissionError') { @if (loginFormStatus === 'SubmissionError') {
    <div class="alert alert-danger" role="alert">
      <span class="alert-icon"><span class="visually-hidden">Error</span></span>
      <p>
        Apologies, there seems to be a technical issue. Our team is working on
        it. Please try logging in again later. Thank you for your understanding.
      </p>
    </div>
    }
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="text-start">
        <div class="mb-3">
          <label class="form-label">Username</label>
          <input type="text" class="form-control" formControlName="userName" />
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            formControlName="password"
          />
        </div>
      </div>
      <div class="text-end">
        <button type="submit" class="btn btn-primary mt-2">Submit</button>
      </div>
    </form>
    } @else if (loginFormStatus === 'InProgress') {
    <div class="spinner-border spinner-border-lg text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    } @else if (loginFormStatus === 'Submitted') {
    <div class="alert alert-success" role="alert">
      <span class="alert-icon"
        ><span class="visually-hidden">Success</span></span
      >
      <p>
        Welcome {{ loginForm.controls["userName"].value }}! You are now logged
        in. Sit tight, you'll be redirected in
        {{ redirectionTimeoutDisplay }} seconds. If you are not redirected
        automatically, <a href="" (click)="redirectUponLogin()">click here</a>.
      </p>
    </div>
    }
  </div>
</div>
