<p-toast></p-toast>
<p-toast position="top-right" key="tr"></p-toast>
<div class="centered-container">
  <p-card header="Login">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <p-floatLabel>
        <input
          id="username"
          type="text"
          pInputText
          class="p-inputtext-sm"
          formControlName="userName"
        />
        <label for="username">Username</label>
      </p-floatLabel>
      <br />
      <br />
      <p-floatLabel>
        <p-password
          id="password"
          class="p-inputtext-sm"
          formControlName="password"
          [feedback]="false"
          [toggleMask]="true"
        >
          <ng-template pTemplate="header">
            <h6>Pick a password</h6>
          </ng-template>
          <ng-template pTemplate="footer">
            <p-divider></p-divider>
            <p class="mt-2">Suggestions</p>
            <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
              <li>At least one lowercase</li>
              <li>At least one uppercase</li>
              <li>At least one numeric</li>
              <li>Minimum 8 characters</li>
            </ul>
          </ng-template>
        </p-password>
        <label for="password">Password</label>
      </p-floatLabel>
      <br />
      <p-button
        label="Submit"
        type="submit"
        [loading]="loginFormSubmissionButtonLoadingState"
      ></p-button>
    </form>
  </p-card>
</div>
