<div class="row align-items-center text-center" style="min-height: 100vh">
  <div class="col-12">
    <form>
      <div class="text-start">
        <div class="mb-3">
          <label class="form-label">Email address</label>
          <input type="email" class="form-control" />
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input type="password" class="form-control" />
        </div>
      </div>
      <div class="text-end">
        <button type="submit" class="btn btn-primary mt-2">Submit</button>
      </div>
    </form>
  </div>
</div>
