@if (disableInteraction) {
<app-centered-progress-spinner-lg />
} @else {
<div class="container content">
  <div class="grid">
    <div class="col">
      <div class="text-right">
        <p-button
          class="mr-2"
          icon="pi pi-plus"
          iconPos="right"
          type="button"
          (onClick)="directToGroceryListPage()"
        ></p-button>
      </div>
    </div>
  </div>

  <h1>Your lists</h1>

  @if (groceryLists.length > 0) {
  @for (groceryList of groceryLists; track groceryList.id) {
  <p-card header="{{ groceryList.name }}">
    <p class="m-0">
      <p-button
        icon="pi pi-arrow-up-right"
        (onClick)="expandUserGroceryList(groceryList.id)"
      ></p-button>
    </p>
  </p-card>

  <br />
  }
} @else {
  <p-messages [(value)]="itemsNotFoundBanner"
  [closable]="false"
  [enableService]="false">
</p-messages>
}
</div>
}
